@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&text=miBlog&display=swap');

.blog-header {
	background: #282828;
	display: flex;
	align-items: flex-end;
	flex-flow: row wrap;
}

.blog-header a {
	color: snow;
	text-decoration: none;
	text-shadow: 2px 2px 5px black;
}

.blog-header a:hover {
	color: white;
	text-shadow: white 1px 1px 0.5em;
}

.blog-header a:visited {
	color: snow;
}

.blog-header__title {
	padding : 2em;
	display: flex;
	flex-wrap: wrap;
	column-gap: 2em;
	align-items: center;
}

.blog-header h1 {
	margin: 0;
	font-size: 5em;
	font-family: 'Josefin Sans', sans-serif;
}

.blog-header img {
	width: 7em;
}
