@import "color-schema.css";
@import "sizing.css";

@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Maitree:wght@400;700&display=swap');

::selection {
	background: #f1e740;
}

body {
	margin: 0;
	font-family: 'Maitree', serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.main-content {
	padding: 2em;
}

.main-content h1
{
	font-size: 2em;
	line-height: 1.1;
	font-family: 'Arsenal', sans-serif;
	text-align: left;
}

.main-content header h1
{
	font-size: 1.5em;
	font-family: 'Maitree', serif;
}

main-content h2
{
	line-height: 1.1;
	text-align: left;
}

.main-content > article,
.main-content > section > article
{
	padding: 1em 0.25em;
}

.main-content :where(p, ul) {
	max-width: var(--main-content-width);
	text-align: justify;
	padding: 0 1em;
	line-height: 1.5;
	text-wrap: balance;
	text-wrap: pretty;
}

:target {
	scroll-margin-block: 5ex;
}
