/* Media queries tomadas de: https://getbootstrap.com/docs/5.3/layout/breakpoints/#media-queries
Segunda opinión: https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

:root {
	font-size: var(--base-font-size, 16px);
	--base-font-size: 16px;
	--main-content-width: 50ch;
}

@media screen and (min-width: 1400px) {
	:root {
		--base-font-size: 21px;
	}
}
