@layer reset, defaults, pages, components, utils, overrides;

@import "utils/color-schema.css" layer(defaults);
@import "utils/sizing.css" layer(defaults);

@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Maitree:wght@400;700&family=Josefin+Sans:wght@600&display=swap') layer(pages);

@layer pages {
	body {
		margin: 0;
		height: 100vh;
		font-family: 'Maitree', serif;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: start;
		align-content: space-around;
	}

	h1 {
		line-height: 1.2em;
	}

	.header-panel > h1 {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 2.2em;
		line-height: 0.95em;
	}

	.main-panel > header > h2 {
		font-family: 'Arsenal', sans-serif;
	}

	@media screen and (max-height: 600px) {
		body {
			max-height: 180vh;
		}
	}

	.main-panel {
		padding: 0 2em;
	}

	.main-panel > header {
		margin-bottom: 5rem;
	}

	.main-panel > section > article {
		margin: 2.5em 0;
	}

	.contact__list {
		list-style: none;
		padding-left: 0;
	}

	.contact__list a, .contact__list a:visited, .contact__list a:hover, .contact__list a:active {
		color: var(--text-color);
	}

	.contact__list a {
		display: flex;
		align-items: stretch;
	}

	@media screen and (min-width: 900px) {
		.header-panel {
			order: 0;
			max-width: 12rem;
			height: fit-content;
			margin-top: var(--top-margin);
		}

		.main-panel {
			order: 2;
			width: var(--main-content-width);
			height: calc(100vh - var(--top-margin));
			overflow-y: auto;
			margin-top: var(--top-margin);
		}

		.about-panel {
			order: 3;
			max-width: 15rem;
			margin-top: var(--top-margin);
		}

		.advertisements-panel {
			order: 4;
			margin-bottom: 5rem;
		}

		.contact-panel {
			order: 1;
			margin-bottom: 1rem;
		}
	}

	@media screen {
		.contact__title {
			display: none;
		}
	}

	@media screen and (max-width: 899px) {
		body {
			padding: 0 1em;
			flex-flow: column nowrap;
			align-items: center;
		}

		.header-panel {
			margin-top: var(--top-margin);
			text-align: center;
		}

		.main-panel h2 {
			text-align: center;
		}

		.about-panel {
			display: none;
		}

		.advertisements-panel {
			/* margin-bottom: 5rem; */
		}

		.contact-panel {
			text-align: center;
		}

		.contact-panel ul{
			list-style-type: none;
			padding: 0;
		}

		.contact-panel ul > li {
			margin-top: 0.5em;
		}
	}
}
