@import "utils/color-schema.css";
@import "utils/dark.css";
@import "components/contacts.css";

body {
	margin: 0;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.page-content {
	margin: 5% 10%;
}

.titles {
	background: linear-gradient(180deg, black 75%, var(--background-color) 100%) !important;
	height: 105vh;
	width: 100vw;
	padding: 0 2em;
	text-align: center;
}

.titles__container {
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titles__h1 {
	font-size: 4em;
}

.titles__h2 {
	font-size: 2em;
}

.titles__h3 {
	font-size: 1.5em;
}

.chevron-arrow-down {
	display: inline-block;
	border-right: 0.25em solid white;
	border-bottom: 0.25em solid white;
	width: 2em;
	height: 2em;
	border-radius: 0.25em;
	transform: rotate(-315deg);
}

.projects > article {
	border: 0.15em solid var(--box-border-color);
	border-radius: 0.2em;
	padding: 15px;
	margin: 0.75em 0;
}
