body {
	margin: 0;
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	color: #383838;
}

.--dark {
	background: black;
	color: whitesmoke;
}

.--dark a {
	color: snow;
}

.--dark a:hover {
	color: white;
	text-shadow: white 2px 1px 10px;
}

.titles {
	background: linear-gradient(180deg, black 75%, whitesmoke 100%) !important;
	height: 115vh;
	text-align: center;
}

.titles__container {
	height: 93vh;
	width: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
}

.titles__h1 {
	font-size: 4em;
}

.titles__h2 {
	font-size: 2em;
}

.titles__h3 {
	font-size: 1.5em;
}

.chevron-arrow-down {
  display: inline-block;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  width: 30px;
  height: 30px;
	border-radius: 5px;
  transform: rotate(-315deg);
}

.about-this {
	margin: 5% 10%;
}

.projects {
	margin: 5% 10%;
}

.projects__project {
	border: 2px solid black;
	border-radius: 3px;
	padding: 15px;
	margin: 10px 0;
}

.contact {
	text-align: center;
	padding: 10px;
}

.contact__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact__li {
	display: inline-block;
	padding: 10px;
}
