:root {
	--background-color: whitesmoke;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--background-color);
	font-family: Arial, Helvetica, sans-serif;
	color: #383838;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.page-content {
	margin: 5% 10%;
}

a {
	color: steelblue;
}

a:hover {
	color: midnightblue;
}

a:visited {
	color: slateblue;
}

.--dark {
	background: black;
	color: whitesmoke;
}

.--dark a {
	color: snow;
}

.--dark a:hover {
	color: white;
	text-shadow: white 2px 1px 10px;
}

.contact {
	padding: 10px;
	text-align: center;
}

.contact__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.contact__item {
	display: inline-block;
	padding: 10px;
}
