/*
Media queries from:
- https://getbootstrap.com/docs/5.3/layout/breakpoints/#media-queries
- https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp
*/

/* ----------------- Start defaults ----------------- */

:root {
	/* Universal Fonts from https://modernfontstacks.com/ */
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	--base-font-size: 18px;
	font-size: var(--base-font-size);

	--main-content-width: 60ch;

	@media screen and (min-width: 1400px) {
		--base-font-size: 23px;
	}

	color-scheme: light dark;

	--background-color: Canvas;
	--text-color: CanvasText;
	--link-color: LinkText;
	--link-hover-color: ActiveText;
	--link-visited-color: VisitedText;
	--box-border-color: ButtonBorder;

	--background-color: light-dark(#fff, #34342f);
	--text-color: light-dark(#383838, whitesmoke);
	--link-color: light-dark(#0074d2, lightskyblue);
	--link-hover-color: light-dark(#008cff, deepskyblue);
	--link-visited-color: light-dark(#6700dc, plum);
	--box-border-color: light-dark(black, darkgray);

}

::selection {
	background: #f1e740;
}

/* Box sizing rules */
*, *::before, *::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	margin: 0;
	min-height: 100vh;
	line-height: 1.7;
	background-color: var(--background-color);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
	margin-block-end: 0;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
	text-wrap: balance;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, button, input, label {
	line-height: 1.1;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

p {
	letter-spacing: .03em;
	hyphens: auto;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
	font-family: inherit;
	font-size: inherit;
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

a:visited {
	color: var(--link-visited-color);
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* ----------------- End defaults ----------------- */

/* ----------------- Start Animations ----------------- */

@view-transition {
	navigation: auto;
}

@media (prefers-reduced-motion) {
	@view-transition {
		navigation: none;
	}
}

/* ----------------- End Animations ----------------- */

/* ----------------- Start Utils ----------------- */

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

img.logo {
	border: var(--box-border-color) solid 1px;
	border-radius: 1000px;
}

.iyaki {
	font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
	font-weight: normal;
}

/* ----------------- End Utils ----------------- */
