---
layout: default.html
---
<style>
main {
  padding: 1em;
  margin: auto;
  max-width: var(--main-content-width);

  p {
    margin-bottom: 2em;
    text-align: left;
  }
}

body > header {
  text-align: center;
  margin-bottom: 2em;

  h1 {
    margin: 0;
  }

  p {
    margin: 0;

    &::before, &::after {
      content: '– ';
    }
  }
}
</style>

<header>
<a href="/" title="Website personal de Iván Yakimovicz">
<figure>
<img
    src="/images/logo.svg"
    alt="Logo de mi web, unos anteojos 3D de cartón blanco con celofán azul y rojo"
    class="logo"
    style="height: 4em; aspect-ratio: 1; view-transition-name: logo"
>
</figure>
</a>
<h1 class="iyaki"><span style="view-transition-name: iyaki">iyaki</span></h1>
<p>Generalista
</header>
<main>
{{ content }}
</main>
