@import "color-schema.css";
@import "sizing.css";

@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Maitree:wght@400;700&display=swap');

body {
	margin: 0;
	font-family: 'Maitree', serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.main-content {
	max-width: var(--main-content-width);
	padding: 2rem 2rem;
	text-align: justify;
}

.main-content > h1,
.main-content > header > h1,
.main-content > section > h1,
.main-content > section > header > h1
{
	font-size: 2em;
	font-family: 'Arsenal', sans-serif;
	text-align: left;
}

main-content > h2,
.main-content > header > h2,
.main-content > section > h2,
.main-content > section > header > h2
{
	text-align: left;
}

.main-content > article,
.main-content > section > article
{
	padding: 1em 0.25em;
}

.main-content p {
	padding: 0 1em;
}
