:root {
	color-scheme: light dark;

	--background-color-light: whitesmoke;
	--text-color-light: #383838;
	--link-color-light: steelblue;
	--link-hover-color-light: midnightblue;
	--link-visited-color-light: slateblue;
	--box-border-color-light: black;

	--background-color-dark: #34342f;
	--text-color-dark: whitesmoke;
	--link-color-dark: lightskyblue;
	--link-hover-color-dark: deepskyblue;
	--link-visited-color-dark: plum;
	--box-border-color-dark: darkgray;

	--background-color: Canvas;
	--text-color: CanvasText;
	--link-color: LinkText;
	--link-hover-color: ActiveText;
	--link-visited-color: VisitedText;
	--box-border-color: ButtonBorder;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: var(--background-color-light);
		--text-color: var(--text-color-light);
		--link-color: var(--link-color-light);
		--link-hover-color: var(--link-hover-color-light);
		--link-visited-color: var(--link-visited-color-light);
		--box-border-color: var(--box-border-color-light);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--background-color-dark);
		--text-color: var(--text-color-dark);
		--link-color: var(--link-color-dark);
		--link-hover-color: var(--link-hover-color-dark);
		--link-visited-color: var(--link-visited-color-dark);
		--box-border-color: var(--box-border-color-dark);
	}
}
