:root {
	font-size: 16px;
	--main-content-width: 35rem;
}

@media screen and (min-width: 1920px) {
	:root {
		font-size: 21px;
	}
}

.main-content {
	max-width: var(--main-content-width);
	padding: 3rem 3rem;
}
