@layer reset, defaults, pages, components, utils, overrides;

@import "utils/base.css" layer(defaults);
@import "components/contacts.css" layer(components);
@import "utils/dark.css" layer(utils);

@layer pages {
	.wayback-machine {
		margin: 10px;
		width: 90%;
		border: solid 1px;
	}

	#wb404 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main.main-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main.main-content > header > :is(p,h1,h2) {
		text-align: center;
	}
}
