on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Dependencies setup
        run: cd curator && npm install --save-exact
      - name: curate
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: curator/curate.sh
      - name: publish
        run: |
          cd web && npm install --save-exact
          npm run build
      - uses: stefanzweifel/git-auto-commit-action@v5
