on:
  workflow_dispatch:
  schedule:
    - cron: '0 */8 * * *'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: publish
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: curator/curate.sh
      - uses: stefanzweifel/git-auto-commit-action@v4
