name: Test build

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'web/**'
      - '.github/workflows/test.yml'
      - '.eleventy'
      - '.eleventy.js'
      - '.npmrc'
      - 'package-lock.json'
      - 'package.json'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'web/**'
      - '.github/workflows/test.yml'
      - '.eleventy'
      - '.eleventy.js'
      - '.npmrc'
      - 'package-lock.json'
      - 'package.json'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'
      - name: Cache jampack
        uses: actions/cache@v5
        with:
          path: .jampack
          key: v1-jampack
      - name: Build
        run: |
          npm install --save-exact
          npm run build
